#map {
    height: 80%;
    width: 70%;    
    float: left;
    border: double 30px #4ec4d3;
    box-sizing: border-box;
}

#lists {
    height: 77%;
    width: 28%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 2%;    
    float: right;
    border: solid 5px #000000;
    box-sizing: border-box;
}

#buttons {
}

.simple_btn {
    display: inline-block;
    padding: 3px 2em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 3px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 40px;
}

.simple_btn:hover {
    background: #67c5ff;
    color: white;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
